@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1{
      color: #3cffae;
      font-family:"Montserrat";
  }
  .subtitulo{
      color: white;
      font-family:"Montserrat";
  }
  body {
    background-color: rgb(85, 85, 85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .cuerpo {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    
  }
  
  .titulo {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
  
  }
  
  .box {
    padding: 10px;
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(27, 27, 27);
    border-radius: 0.5em;
    width: 30vw;
    height: auto;
  }
  
  .btn {
    border: 0;
    color: rgb(27, 27, 27);
    font-weight: bold;
    background-color: #3cffae;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0.5em;
    font-family:"Montserrat";
    transition: 0.3s all ease-in;
  }
  
  .text-input {
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.5em;
    width: 100%;
    height: 50px;
  }

  footer{
      position: fixed;
      bottom: 0;
        background-color: #3cffae;
        width: 100%;
        text-align: center;
        font-size: 1.5em;
  }

  .btn:hover{
    background-color: #0b995e;
    color: white;
  }